<!DOCTYPE html>
<html>
<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <meta charset="UTF-8">
  <title>Currency test</title>

  <!-- Since there is already a rich ecosystem of ajax libraries    -->
  <!-- and collections of general-purpose utility methods, Vue core -->
  <!-- is able to remain small by not reinventing them. This also   -->
  <!-- gives you the freedom to use what you're familiar with. -->
  <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


</head>

<body>
  <div id="convertion">
    <input  id="amount" type="text" name="amount"  v-model="amount"/>
    <select id="from" v-model="from" >
      <option value="USD">USD</option>
      <option value="EUR">EUR</option>
      <option value="CAD">CAD</option>

    </select>
    <select id="to" v-model="to">
      <option value="USD">USD</option>
      <option value="EUR">EUR</option>
      <option value="CAD">CAD</option>

    </select>

    <input type="date" id="date" name="date" v-model="date" >
    <button type="submit" name="convert" v-on:click="getResult()" >CONVERT</button>
    <p id="result">{{ result }} </p>

  </div>

</body>
<script>

var convertion = new Vue({
  el: '#convertion',
  data: {
    ApiUrl : "http://data.fixer.io/api/",
    ApiKey : "79147b144678e340395a6b501dc0d6de",
    amount : "",
    from : "",
    to : "",
    date : "",
    exchange_rate:"",
    error: ""


  },
  methods: {
    getResult: _.debounce(
      function () {
        var vue = this
        var from = this.from
        var to = this.to
        var url = this.ApiUrl + this.date

        axios.get(url,{
          params: {
            access_key: this.ApiKey,
            symbols: from + "," + to
          }
        })
        .then(function (response) {
          results = response.data
          firstrate = results["rates"][from]
          secondrate = results["rates"][to]
          vue.exchange_rate =  ( secondrate / firstrate );
          vue.error= "";
        })
        .catch(function (error) {
          vue.error = 'Error! Could not reach the API. ' + error
        })

      },
    )

  },
  computed: {
    result : function(){
      return this.exchange_rate* this.amount

    }

  }

})
</script>
</html>
