<!DOCTYPE html>
<html>
  <head>
    <title>test</title>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Currency test</title>

    <!-- Since there is already a rich ecosystem of ajax libraries    -->
    <!-- and collections of general-purpose utility methods, Vue core -->
    <!-- is able to remain small by not reinventing them. This also   -->
    <!-- gives you the freedom to use what you're familiar with. -->
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="http://underscorejs.org/underscore-min.js" type="text/javascript"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="http://rawgithub.com/phpepe/highcharts-regression/master/highcharts-regression.js"> </script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.css"/>
<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">

<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<script src="data.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

<script type="text/javascript" charset="utf8" src="https://gyrocode.github.io/jquery-datatables-checkboxes/1.2.10/js/dataTables.checkboxes.min.js"></script>

</head>
<body>
  <div id="container" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"></div>

  <form id="frm-example" action="" method="POST">
<table id="example" class="display" style="width:100%">

        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Extn.</th>
                <th>Start date</th>
                <th>Salary</th>
                <th>Convert</th>

            </tr>
        </thead>
        <tfoot>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Extn.</th>
                <th>Start date</th>
                <th>Salary</th>
                <th>Convert</th>

            </tr>
        </tfoot>
    </table>


    </form>

    <table id="PriceTable" >
      <tr>
        <td><button  name="convert" v-on:click="getResult()" >CONVERT</button></td>
        <td>{{ result() }}</td>
      </tr>


    </table>


    <script>


    $(document).ready(function() {

      var exchange_rate = []  ;
      var convertionData;
      var convertion = [];
      var dates     = _.pluck(jsondata.data, "start_date");
      var extn      =  _.pluck(jsondata.data, "extn") ;
      var id      =  _.pluck(jsondata.data, "id");
      var name = _.pluck(jsondata.data, "name");
      var amount = _.pluck(jsondata.data, "salary");


      var PriceTable = new Vue({
        el:'#PriceTable',
        data:{
          ApiUrl : "http://data.fixer.io/api/",
          ApiKey : "79147b144678e340395a6b501dc0d6de",
          id:id,
          amount : amount,
          from : "USD",
          to : "EUR",
          dates : dates,
          exchange_rate : exchange_rate,
          error: "",
          convertion : convertion,
        },
        methods: {
          getResult: _.debounce(
            function () {

              var exchangeRate = [];
              var vue = this
              var from = this.from
              var to = this.to
              var url = []


              for (var i = 0; i < this.id.length; i++) {
                url[i] = this.ApiUrl + this.dates[i]
                axios.get(url[i],{
                  params: {
                    access_key: this.ApiKey,
                    symbols: from + "," + to
                  }
                })
                .then(function (response) {
                  results = response.data
                  firstrate = results["rates"][from]
                  secondrate = results["rates"][to]
                  exchangeRate.push( secondrate / firstrate );
                  vue.error= "";
                })
                .catch(function (error) {
                  vue.error = 'Error! Could not reach the API. ' + error
                })
              }
              vue.exchange_rate = exchangeRate;

              return vue.exchange_rate;
            },
          ),

          result : function(){

            var newData = [];
            for (var i = 0; i < this.amount.length; i++) {


              this.convertion[i] = this.exchange_rate[i]* this.amount[i];
              newData.push({
                id:this.id[i], amout:this.amount[i], exchange_rate:this.exchange_rate[i], convertion:this.convertion[i]
              });
            }
            //console.log(newData[5])

              this.convertionData = JSON.stringify(newData);

              return this.exchange_rate;

          }

        }

      })




    var table =  $("#example").DataTable({
      "processing": true,
      "serverSide": true,
      "ajax": function (data, callback, settings) {

        callback(
          jsondata
        );
      },
      "columns": [
        { "data": "id" },
        { "data": "name" },
        { "data": "position" },
        { "data": "office" },
        { "data": "extn" },
        { "data": "start_date" },
        { "data": "salary" },
        { "data": "salary" },




      ],


      'columnDefs': [
         {
            'targets': 0,
            'checkboxes': {
               'selectRow': true,

            },
            'createdCell':  function (td, cellData, rowData, row, col){
                        this.api().cell(td).checkboxes.select();
                     },
         },
         {
                 data: 'salary',
                 "render": function ( data, type, row ) {
                   PriceTable.getResult();
                   var resultdata = PriceTable.result();

                    for (var i = 0; i < PriceTable.amount.length; i++) {
                    return resultdata[i] * data   ;
                    }

                },
                "targets": 7,
            },



      ],



      'select': {
         'style': 'multi',

      },
      'order': [[1, 'asc']]

    });


    $('.dt-checkboxes-select-all input').change(function(){

        var selectedCheckBox =  $('.dt-checkboxes').parent().parent().index();

        var idx = 0
        for(i=0;i < chart.series[0].data.length ; i++) {
          if (chart.series[0].data[i].x == id[selectedCheckBox]) {
            idx = i;
          }
        }

          for(i=0;i < id.length ; i++) {
            var x = id[i];
            var y = extn[i];

             if ( ($(this).is(':checked')) == false){
             chart.series[0].data[idx].remove();

          } else {
              chart.series[0].addPoint([x, y]);

            }

          }

    })

    $('.dt-checkboxes').change(function () {

       var selectedCheckBox =  $(this).parent().parent().index();

       var x = id[selectedCheckBox];
       var y = extn[selectedCheckBox]


      var idx = null
      for(i=0;i < chart.series[0].data.length ; i++) {
        if (chart.series[0].data[i].x == id[selectedCheckBox]) {
          idx = i;
        }
      }


      if ( ($(this).is(':checked')) == false){
      chart.series[0].data[idx].remove();

    } else {
        chart.series[0].addPoint([x, y]);

      }
    })

    var chart = new Highcharts.chart('container', {
      chart: {
        type: 'scatter',
        zoomType: 'xy'
      },
      title: {
        text: 'Height Versus Weight of 507 Individuals by Gender'
      },
      subtitle: {
        text: 'Source: Heinz  2003'
      },
      xAxis: {
        title: {
          enabled: true,
          text: 'Age'
        },
        startOnTick: true,
        endOnTick: true,
        showLastLabel: true
      },
      yAxis: {
        title: {
          text: '$'
        }
      },

      plotOptions: {
        scatter: {
          marker: {
            radius: 5,
            states: {
              hover: {
                enabled: true,
                lineColor: 'rgb(100,100,100)'
              }
            }
          },
          states: {
            hover: {
              marker: {
                enabled: false
              }
            }
          },
          tooltip: {
            headerFormat: '<b>{series.name}</b><br>',
            pointFormat: '{point.x} Age, {point.y} $'
          }
        },

      },
      series: [{
        regression: true ,
                regressionSettings: {
                    type: 'linear',
                    color:  'rgba(223, 83, 83, .9)',
                    loessSmooth : 10000
                  },
        name: 'Machines',
        color: 'rgba(223, 83, 83, .5)',
        data: _.zip(id, extn),



      },
     ]
    });



    } );









    </script>
  </body>

</html>
